$font: "Roboto";

* {
    padding: 0;
    margin: 0;
    font-family: $font;
}

.header {
    display: block;
}
.header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    .general-info {
        display: flex;
        flex-direction: row;
    }
    .user-info {
        padding-left: 29px;
        padding-top: 9px;
        font-weight: 400;
    }
    .social {
        padding-top: 9px;
        display: block;
        cursor: pointer;
        .bi-facebook {
            color: rgba(24, 119, 242, 1);
        }
        .bi-twitter {
            color: rgba(29, 161, 243, 1);
        }
        .bi-messenger {
            color: rgba(24, 119, 242, 1);
        }
        .bi-whatsapp {
            background-color: rgba(37, 211, 102, 1);
            border-radius: 50%;
            color: white;
        }
        .language {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            padding-top: 10px;
            img {
                padding-right: 10px;
            }
            i {
                padding-left: 10px;
            }
        }
    }
}
.logout {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    a {
        color: blue;
        cursor: pointer;
    }
}
.gen-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #f30000;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    margin: 30px;

    .nav {
        display: flex;
        p {
            padding: 7px 25px;
            border-right: 1px solid white;
            cursor: pointer;
        }
    }
    .account {
        background-color: #0061a3;
        padding: 7px 38px;
        border-radius: 8px;
        cursor: pointer;
    }
}
.header-banner {
    text-align: -webkit-center;
    img {
        width: 100%;
    }
}
.cardss {
    display: flex;

    .cardd {
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        margin: 30px 15px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        a {
            padding-left: 50%;
            font-weight: 500;
            font-size: 14px;
            color: #0061a3;
            text-decoration: underline;
        }
        span {
            font-weight: 500;
            font-size: 16px;
            padding-top: 5px;
        }
        p {
            font-weight: 400;
            font-size: 14px;
            color: #5f5f5f;
        }
    }
}
.lottery {
    p {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        padding: 45px 0px 30px 0px;
    }
}
.lottery-cards {
    display: flex;

    justify-content: space-between;
    margin: 0px 15px 0px 15px;
    .lottery-card {
        display: block;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
    }
    .lottery-body {
        display: flex;
        justify-content: space-around;
        padding-right: 40px;
        .lottery-img {
            width: 50px;
            height: 40px;
            border: 2px solid #e0e0e0;
            border-radius: 100%/100%;
            margin: 5px 25px;
            padding: 10px 34px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .lottery-body-text {
            display: block;
            font-weight: 500;
            font-size: 14px;
            padding-top: 4%;
            .lottery-text {
                display: flex;
                padding-bottom: 15px;
            }
            span {
                font-weight: 700;
                font-size: 26px;
                color: #13902a;
            }
        }
    }
}
.play {
    margin-top: 10px;
    background-color: #0061a3;
    .play-body {
        display: flex;
        justify-content: space-between;
        button {
            margin: 12px;
            background: #f7d300;
            border-radius: 8px;
            padding: 6px 50px;
            font-weight: 500;
            font-size: 16px;
            color: black;
            border-style: none;
        }
        .timer {
            margin: 20px 70px 20px 50px;
            font-weight: 500;
            font-size: 18px;
            color: white;
        }
    }
}
.online-lotteries {
    p {
        text-align: end;
        font-weight: 500;
        font-size: 18px;
        text-decoration: underline;
        color: #0061a3;
    }
}
.title-lotteries {
    color: white;
    background: #f30000;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    margin: 75px 0px 0px 0px;
}
.online-lotteries-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.online-card {
    margin: 15px 0px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}
.online-card-top {
    display: flex;
    justify-content: space-between;
    .card-image {
        width: 30px;
        height: 80px;
        border: 2px solid #e0e0e0;
        -moz-border-radius: 80px;
        -webkit-border-radius: 80px;
        border-radius: 100px;
        padding: 2px 30px 2px 30px;
        margin-left: 25%;
        margin-top: 12px;
        background-image: url("/img/card/Group.png");
        background-repeat: no-repeat;
        background-size: 70px 50px;
        background-position: center;
    }
    .bi-star-fill {
        margin: 10px 5px;
        color: #f7d300;
    }
}
.lottery-online-body-text {
    text-align: center;
    margin: 28px 39px 8px 39px;
    span {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        margin-top: 8px;
    }
    .timer-online {
        font-weight: 500;
        font-size: 16px;
        margin-top: 8px;
        color: #0061a3;
    }
    button {
        background: #f7d300;
        border-radius: 8px;
        padding: 10px 57px;
        font-weight: 500;
        font-size: 16px;
        color: black;
        margin: 12px 0px 12px 0px;
        border-style: none;
    }
    .lottery-online-text {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 8px;
    }
}
